In [1]:
import pandas as pd

In [2]:
empty_data_frame=pd.DataFrame()

In [3]:
empty_data_frame["Name"]=["karan","suman","niraj"]
print(empty_data_frame)

    Name
0  karan
1  suman
2  niraj

In [4]:
empty_data_frame ?

SyntaxError: invalid syntax (2367974461.py, line 1)

In [5]:
empty_data_frame?

In [7]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [19]:
subject="Python FOR data analaysis"
subject=subject.casefold()
getattr(subject, "casefold")
print(subject)

python for data analaysis

In [21]:
getattr(subject,"center")

In [38]:
subject.center(330, 'k')

'kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkpython for data analaysiskkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk'

In [44]:
def is_iterable(object):
    try:
        iter(object)
        return "The object is iterable"
    except:
        return "This object is not iterable"

is_iterable(5)

'This object is not iterable'

In [48]:
slogan=''' I don't think that the Abhishek dai will put words to his father about the goods i wanted to send Nepal
It is okay if he does or does not'''
print(slogan)
hello='THe boy called hello is coming from shopping with some good things in the bag
 okay now i see the difference between two and three line'

SyntaxError: unterminated string literal (detected at line 4) (109830358.py, line 4)

In [49]:
song='jara kabhi'
print(song[2])

r

In [50]:
getattr(song,'rindex')

In [51]:
print(song.rindex)

<built-in method rindex of str object at 0x00000293589C61B0>

In [52]:
getattr(song,'partition')

In [54]:
print(song.partition('a'))

('j', 'a', 'ra kabhi')

In [55]:
print(song)

jara kabhi

In [56]:
print(list("Karan"))

['K', 'a', 'r', 'a', 'n']

In [59]:
print("My name is karan".split())

['My', 'name', 'is', 'karan']

In [62]:
s = "this\has\no\special\characters"
print(s)

this\has
o\special\characters

In [65]:
s = "this\has\no\special\characters"
print(s)

this\has
o\special\characters

In [66]:
print(s.split())

['this\\has', 'o\\special\\characters']

In [67]:
print(s.partition("\\"))

('this', '\\', 'has\no\\special\\characters')

In [74]:
from datetime import datetime,timedelta
project_meeting=datetime(2024,1,29, 15,30)
print(project_meeting.time())

15:30:00

In [75]:
project_duration=timedelta(hours=0, minutes=30)
total_time=project_duration+project_meeting
print(total_time)

2024-01-29 16:00:00

In [90]:
total_time.strftime("%Y-%m-%d %H:%M")

'2024-01-29 16:00'

In [82]:
print(total_time)

2024-01-29 16:00:00

In [91]:
print(datetime.strptime("20240129","%Y%m%d"))

2024-01-29 00:00:00

In [95]:
first_tuple=(2,3)
#first_tuple.append(4)
second_tuple=(4,5,6)
all_tuples=first_tuple+second_tuple
print(first_tuple)
print(second_tuple)
print(all_tuples)
print(all_tuples[:2])

(2, 3)
(4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3)

In [99]:
nested_list=[[1,2,4],[4,5,6]]
print(nested_list)

[[1, 2, 4], [4, 5, 6]]

In [100]:
nested_list[0]=2
print(nested_list)

[2, [4, 5, 6]]

In [101]:
print(["kaam","ma"]*4)

['kaam', 'ma', 'kaam', 'ma', 'kaam', 'ma', 'kaam', 'ma']

In [102]:
tup = 4, 5, (6, 7)

In [103]:
print(tup)

(4, 5, (6, 7))

In [114]:
a, *_=tup
print("a:",a)

a: 4

In [115]:
print(_)

[5, (6, 7)]

In [111]:
print(tup[0])

4

In [112]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a,b,c in seq:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

In [116]:
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1.keys()

dict_keys(['a', 'b'])

In [117]:
d1.values()

dict_values(['some value', [1, 2, 3, 4]])

In [118]:
some_list=d1["b"]
print(some_list)

[1, 2, 3, 4]

In [124]:
d1["name"]="Karan Budha Air"
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 'name': 'Karan Budha Air'}

In [125]:
name=d1.pop("name")
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [132]:
print(d1)
d1["a"]="Another value"
print(d1.items())
print(d1["b"])

{'b': [1, 2, 3, 4], 'a': 'Another value'}
dict_items([('b', [1, 2, 3, 4]), ('a', 'Another value')])
[1, 2, 3, 4]

In [127]:
print(name)

Karan Budha Air

In [128]:
del d1["a"]

In [129]:
print(d1)

{'b': [1, 2, 3, 4]}

In [133]:
d2={"Name":"Karan Budha Air", "Address":"4 Kelvin Road"}
d1.update(d2)
print(d1)

{'b': [1, 2, 3, 4], 'a': 'Another value', 'Name': 'Karan Budha Air', 'Address': '4 Kelvin Road'}

In [149]:
key_list=["a","b","c"]
value_list=["apple","ball","camera"]
dictionary={}
zipped=zip(key_list,value_list)

print(list(zipped))
for key, value in zipped:
    dictionary[key]=value
print(dictionary)

[('a', 'apple'), ('b', 'ball'), ('c', 'camera')]
{}

In [145]:
zipper=zip(key_list,value_list)
print(list(zipper))

[('a', 'apple'), ('b', 'ball'), ('c', 'camera')]

In [164]:
words = ["apple", "bat", "bar", "atom", "book"]
english_dictionary={}
for word in words:
    first_letter=word[0]
    if first_letter  in english_dictionary:
        english_dictionary[first_letter].append(word)
        
    else:
        english_dictionary[first_letter]=[word]
        
print(english_dictionary)

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [169]:
words = ["apple", "bat", "bar", "atom", "book"]
english_dictionary={}
for word in words:
    first_letter=word[0]
    english_dictionary.setdefault(first_letter,["Karan"]).append("Budha Air")
print(english_dictionary)

{'a': ['Karan', 'Budha Air', 'Budha Air'], 'b': ['Karan', 'Budha Air', 'Budha Air', 'Budha Air']}

In [174]:
from collections import defaultdict

words = ["apple", "bat", "bar", "atom", "book"]
english_dictionary=defaultdict(list)
for word in words:
    english_dictionary[word[0]].append(word)
print(english_dictionary)

defaultdict(<class 'list'>, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})