### Tuples

In [77]:
tup=(0,3,16)
print(dir(tup))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [80]:
tup.__add__((2049,0))

(0, 3, 16, 2049, 0)

In [88]:
tup*3

(0, 3, 16, 0, 3, 16, 0, 3, 16)

In [96]:
power_lotto_list=[2,3,0,7]
print(tuple(power_lotto_list))
power_lotto_tuples=(0,7,2,3)
a=list(power_lotto_tuples)
for number in a:
    print(number)

(2, 3, 0, 7)
0
7
2
3

In [105]:
dictionary_tuple=tuple({"name":"karan", "age":31}.items())
dictionary_tuple

(('name', 'karan'), ('age', 31))

In [106]:
for item in dictionary_tuple:
    print(item)

('name', 'karan')
('age', 31)

In [116]:
#We can't replace the object stored in tuple but we can modify it if it is mutalbe object like list or string and so on
tup = tuple(['foo', [1, 2], True])
tup[0].upper()
tup[1].append(3)
print(tup[0].upper())
tup

FOO

('foo', [1, 2, 3], True)

In [117]:
xmas_tup=25,12,(20,23)
a,b,c=xmas_tup
d,e=c
print(e)

23

In [125]:
#Swapping made easy in python
a=["Monday","Tuesday"]
b="Chirstmas"
print("before swapping a: {0} and b: {1}".format(a,b))
a,b=b,a
print("after swapping a: {0} and b: {1}".format(a,b))

before swapping a: ['Monday', 'Tuesday'] and b: Chirstmas
after swapping a: Chirstmas and b: ['Monday', 'Tuesday']

In [126]:
seq=[(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print("the value of a : {0} and value of b: {1} and value of c: {2}".format(a,b,c))

the value of a : 1 and value of b: 2 and value of c: 3
the value of a : 4 and value of b: 5 and value of c: 6
the value of a : 7 and value of b: 8 and value of c: 9

In [127]:
seq=[(1,2,3),(4,5,6),(7,8,9)]
for item in seq:
    a,b,c=item
    print("the value of a : {0} and value of b: {1} and value of c: {2}".format(a,b,c))

the value of a : 1 and value of b: 2 and value of c: 3
the value of a : 4 and value of b: 5 and value of c: 6
the value of a : 7 and value of b: 8 and value of c: 9

In [131]:
players=("Karan","Suman","Niraj", "Sameer", "Aasif")

def player_stat(captain, vicecaptian, coach, *extra):
    print(captain)
    print(vicecaptian)
    for other in extra:
        print(other)
player1, player2, player3, *rest=players
player_stat(player1, player2, player3, *rest)

Karan
Suman
Sameer
Aasif

### List