In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(
      {
           "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
            "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
            "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
      }
)

In [6]:
row = df.iloc[1]
print("The row value is", row)

column = df["two"]
print("\n THe column value is ", column)

df.sub(row, axis="columns")
print("\n After substracting the value", df)
df.sub(row, axis=1)

df.sub(column, axis="index")

df.sub(column, axis=0)
print("\nthe data frame")
print(df)

The row value is one     -0.894396
two      1.856297
three    1.133479
Name: b, dtype: float64

 THe column value is  a   -0.663895
b    1.856297
c   -0.352081
d    0.571154
Name: two, dtype: float64

 After substracting the value         one       two     three
a -0.384334 -0.663895       NaN
b -0.894396  1.856297  1.133479
c  0.587676 -0.352081 -0.689864
d       NaN  0.571154  0.482312

the data frame
        one       two     three
a -0.384334 -0.663895       NaN
b -0.894396  1.856297  1.133479
c  0.587676 -0.352081 -0.689864
d       NaN  0.571154  0.482312

In [15]:
dfmi = df.copy()

In [16]:
print(dfmi)

        one       two     three
a -0.384334 -0.663895       NaN
b -0.894396  1.856297  1.133479
c  0.587676 -0.352081 -0.689864
d       NaN  0.571154  0.482312

In [17]:
dfmi.index = pd.MultiIndex.from_tuples(
    [(1, "a"), (1, "b"), (1, "c"), (2, "a")], names=["first", "second"]
)

In [18]:
print(dfmi)

                   one       two     three
first second
1     a      -0.384334 -0.663895       NaN
      b      -0.894396  1.856297  1.133479
      c       0.587676 -0.352081 -0.689864
2     a            NaN  0.571154  0.482312

In [20]:
dfmi=dfmi.sub(column, axis=0, level="second")
print(dfmi)

                   one       two     three
first second
1     a       0.279561  0.000000       NaN
      b      -2.750693  0.000000 -0.722818
      c       0.939757  0.000000 -0.337783
2     a            NaN  1.235049  1.146208

In [22]:
print(dfmi.equals(5))

False

In [27]:
df1 = pd.DataFrame(
    {"A": [1.0, np.nan, 3.0, 5.0, np.nan], "B": [np.nan, 2.0, 3.0, np.nan, 6.0]}
)

In [28]:
df2 = pd.DataFrame(
    {
        "A": [5.0, 2.0, 4.0, np.nan, 3.0, 7.0],
        "B": [np.nan, np.nan, 3.0, 4.0, 6.0, 8.0],
    }
)

In [30]:
df1.combine_first(df2)

     A    B
0  1.0  NaN
1  2.0  2.0
2  3.0  3.0
3  5.0  4.0
4  3.0  6.0
5  7.0  8.0

In [ ]:
df2.combine_first