In [5]:
import pandas as pd

# Create a dictionary with data
data = {
    'Column1': [1, 2],
    'Column2': [3, 4]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display DataFrame
print(df)

   Column1  Column2
0        1        3
1        2        4

In [10]:
df.apply(lambda x:x*2, axis=1)

   Column1  Column2
0        2        6
1        4        8

In [9]:
import pandas as pd

# Sample DataFrame representing books with their IDs
books_df = pd.DataFrame({
    'book_id': [101, 102, 103],
})


# Function to classify books into genres based on their IDs
def classify_genre(books_df):
    print(books_df)
    if books_df['book_id'] == 101:
        return pd.Series({'Fantasy': 1, 'Adventure': 0, 'Mystery': 0})
    elif books_df['book_id'] == 102:
        return pd.Series({'Fantasy': 0, 'Adventure': 1, 'Mystery': 0})
    elif books_df['book_id'] == 103:
        return pd.Series({'Fantasy': 1, 'Adventure': 0, 'Mystery': 1})

# Applying the function to each book ID in the DataFrame
genre_df = books_df.apply(classify_genre, axis=1)

# Final output DataFrame showing genres associated with each book
print(genre_df)

book_id    101
Name: 0, dtype: int64
book_id    102
Name: 1, dtype: int64
book_id    103
Name: 2, dtype: int64
   Fantasy  Adventure  Mystery
0        1          0        0
1        0          1        0
2        1          0        1

In [20]:
import numpy as np
def subtract_and_divide(x, sub,multiply, divide=1):
    return (x - sub) / divide *multiply


df_udf = pd.DataFrame(np.ones((2, 2)))

df_udf.apply(subtract_and_divide,args=(3,4,), divide=3)

          0         1
0 -2.666667 -2.666667
1 -2.666667 -2.666667

In [34]:
df=df_udf.apply(subtract_and_divide,args=(3,4,2), result_type="expand")
print(df)

     0    1
0 -4.0 -4.0
1 -4.0 -4.0

In [38]:
df.apply(lambda x:x.idxmax())

0    0
1    0
dtype: int64

In [39]:
tsdf = pd.DataFrame(
    np.random.randn(10, 3),
    columns=["A", "B", "C"],
    index=pd.date_range("1/1/2000", periods=10),
)

In [40]:
print(tsdf)

                   A         B         C
2000-01-01 -0.022930  0.477785  0.898132
2000-01-02  0.442777  2.203768  0.238459
2000-01-03 -1.249380  0.063576 -1.226809
2000-01-04  1.474305 -1.557432 -0.265213
2000-01-05  0.016953 -0.753906  1.304719
2000-01-06 -0.473417 -0.016816 -2.143398
2000-01-07 -0.676966  1.437913 -1.000388
2000-01-08  2.318450  0.295045  1.104127
2000-01-09  1.149446  2.635088 -0.973794
2000-01-10  0.521617  0.049330  0.191145

In [41]:
tsdf.agg("sum")

A    3.500854
B    4.834353
C   -1.873020
dtype: float64

In [42]:
tsdf.agg("mean")

A    0.350085
B    0.483435
C   -0.187302
dtype: float64

In [43]:
tsdf.agg("product")

A    0.000141
B   -0.000073
C   -0.040065
dtype: float64

In [45]:
tsdf.product()

A    0.000141
B   -0.000073
C   -0.040065
dtype: float64

In [62]:
agg_df=tsdf.agg(["sum","mean"], index=[1,2])

In [63]:
print(agg_df)

             A         B         C
sum   3.500854  4.834353 -1.873020
mean  0.350085  0.483435 -0.187302

In [64]:
print(agg_df["A"]["sum"])
agg_df.shape

3.5008541318241373

(2, 3)

In [70]:
print(agg_df.loc["sum",:])

A    3.500854
B    4.834353
C   -1.873020
Name: sum, dtype: float64

In [81]:
agg_df.agg({"A": ["mean", "min"], "B": "sum"}, reset_index=[0,1,2])

             A         B
mean  1.925470       NaN
min   0.350085       NaN
sum        NaN  5.317788

In [79]:
dict_agg=agg_df.agg({"A": ["mean", "min"], "B": "sum"}, reset_index=[0,1,2])

In [80]:
print(dict_agg.index)

Index(['mean', 'min', 'sum'], dtype='object')

In [86]:
tsdf.transform(["abs"])

                   A         B         C
                 abs       abs       abs
2000-01-01  0.022930  0.477785  0.898132
2000-01-02  0.442777  2.203768  0.238459
2000-01-03  1.249380  0.063576  1.226809
2000-01-04  1.474305  1.557432  0.265213
2000-01-05  0.016953  0.753906  1.304719
2000-01-06  0.473417  0.016816  2.143398
2000-01-07  0.676966  1.437913  1.000388
2000-01-08  2.318450  0.295045  1.104127
2000-01-09  1.149446  2.635088  0.973794
2000-01-10  0.521617  0.049330  0.191145

In [88]:
def mapping_function(data):
    return data**2

In [94]:
tsdf['A'].map(lambda data:data*2)

2000-01-01   -0.045860
2000-01-02    0.885553
2000-01-03   -2.498760
2000-01-04    2.948610
2000-01-05    0.033906
2000-01-06   -0.946835
2000-01-07   -1.353932
2000-01-08    4.636899
2000-01-09    2.298892
2000-01-10    1.043235
Freq: D, Name: A, dtype: float64