In [4]:
import pandas as pd

# Create a DataFrame
data = {'A': [1, 2, 3, 4,3],
        'B': [5, 6, None, 8,9]}  # Introducing a NaN (Not a Number) value
df = pd.DataFrame(data)
print(df)

   A    B
0  1  5.0
1  2  6.0
2  3  NaN
3  4  8.0
4  3  9.0

In [5]:
print(df.cumsum())

    A     B
0   1   5.0
1   3  11.0
2   6   NaN
3  10  19.0
4  13  28.0

In [6]:
import pandas as pd

# Create a three-level DataFrame
arrays = [['A', 'A', 'A', 'B', 'B', 'B'],
          ['X', 'X', 'Y', 'Y', 'Z', 'Z'],
          ['W', 'X', 'Y', 'Z', 'W', 'X']]

# Create a MultiIndex from the arrays
index = pd.MultiIndex.from_arrays(arrays, names=('First', 'Second', 'Third'))

# Create the DataFrame with random data
df = pd.DataFrame({'Data': [1, 2, 3, 4, 5, 6]}, index=index)
print(df)

# Perform sum along level 2
sum_level2 = df.sum(level=2)

print(sum_level2)

                    Data
First Second Third
A     X      W         1
             X         2
      Y      Y         3
B     Y      Z         4
      Z      W         5
             X         6
       Data
Third
W         6
X         8
Y         3
Z         4

C:\Users\Kunal\AppData\Local\Temp\ipykernel_10864\1065553799.py:16: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  sum_level2 = df.sum(level=2)

In [9]:
print(getattr(pd.Series, "nunique"))

<function IndexOpsMixin.nunique at 0x0000014531C15E40>

In [10]:
help(pd.Series.nunique)

Help on function nunique in module pandas.core.base:

nunique(self, dropna: 'bool' = True) -> 'int'
    Return number of unique elements in the object.

    Excludes NA values by default.

    Parameters
    ----------
    dropna : bool, default True
        Don't include NaN in the count.

    Returns
    -------
    int

    See Also
    --------
    DataFrame.nunique: Method nunique for DataFrame.
    Series.count: Count non-NA/null observations in the Series.

    Examples
    --------
    >>> s = pd.Series([1, 3, 5, 7, 7])
    >>> s
    0    1
    1    3
    2    5
    3    7
    4    7
    dtype: int64

    >>> s.nunique()
    4

In [13]:
help(pd.DataFrame.sum)

Help on function sum in module pandas.core.generic:

sum(self, axis=None, skipna=True, level=None, numeric_only=None, min_count=0, **kwargs)
    Return the sum of the values over the requested axis.

    This is equivalent to the method ``numpy.sum``.

    Parameters
    ----------
    axis : {index (0), columns (1)}
        Axis for the function to be applied on.
        For `Series` this parameter is unused and defaults to 0.
    skipna : bool, default True
        Exclude NA/null values when computing the result.
    level : int or level name, default None
        If the axis is a MultiIndex (hierarchical), count along a
        particular level, collapsing into a Series.

        .. deprecated:: 1.3.0
            The level keyword is deprecated. Use groupby instead.
    numeric_only : bool, default None
        Include only float, int, boolean columns. If None, will attempt to use
        everything, then use only numeric data. Not implemented for Series.

        .. deprecated:: 1.5.0
            Specifying ``numeric_only=None`` is deprecated. The default value will be
            ``False`` in a future version of pandas.

    min_count : int, default 0
        The required number of valid values to perform the operation. If fewer than
        ``min_count`` non-NA values are present the result will be NA.
    **kwargs
        Additional keyword arguments to be passed to the function.

    Returns
    -------
    Series or DataFrame (if level specified)

    See Also
    --------
    Series.sum : Return the sum.
    Series.min : Return the minimum.
    Series.max : Return the maximum.
    Series.idxmin : Return the index of the minimum.
    Series.idxmax : Return the index of the maximum.
    DataFrame.sum : Return the sum over the requested axis.
    DataFrame.min : Return the minimum over the requested axis.
    DataFrame.max : Return the maximum over the requested axis.
    DataFrame.idxmin : Return the index of the minimum over the requested axis.
    DataFrame.idxmax : Return the index of the maximum over the requested axis.

    Examples
    --------
    >>> idx = pd.MultiIndex.from_arrays([
    ...     ['warm', 'warm', 'cold', 'cold'],
    ...     ['dog', 'falcon', 'fish', 'spider']],
    ...     names=['blooded', 'animal'])
    >>> s = pd.Series([4, 2, 0, 8], name='legs', index=idx)
    >>> s
    blooded  animal
    warm     dog       4
             falcon    2
    cold     fish      0
             spider    8
    Name: legs, dtype: int64

    >>> s.sum()
    14

    By default, the sum of an empty or all-NA Series is ``0``.

    >>> pd.Series([], dtype="float64").sum()  # min_count=0 is the default
    0.0

    This can be controlled with the ``min_count`` parameter. For example, if
    you'd like the sum of an empty series to be NaN, pass ``min_count=1``.

    >>> pd.Series([], dtype="float64").sum(min_count=1)
    nan

    Thanks to the ``skipna`` parameter, ``min_count`` handles all-NA and
    empty series identically.

    >>> pd.Series([np.nan]).sum()
    0.0

    >>> pd.Series([np.nan]).sum(min_count=1)
    nan

In [14]:
print(df.describe())

           Data
count  6.000000
mean   3.500000
std    1.870829
min    1.000000
25%    2.250000
50%    3.500000
75%    4.750000
max    6.000000

In [15]:
frame = pd.DataFrame({"a": ["Yes", "Yes", "No", "No"], "b": range(4)})

In [22]:
print(frame.describe(include=['object']))

          a
count     4
unique    2
top     Yes
freq      2

In [23]:
print(frame.describe(include="all"))

          a         b
count     4  4.000000
unique    2       NaN
top     Yes       NaN
freq      2       NaN
mean    NaN  1.500000
std     NaN  1.290994
min     NaN  0.000000
25%     NaN  0.750000
50%     NaN  1.500000
75%     NaN  2.250000
max     NaN  3.000000

In [34]:
import numpy as np

data = np.random.randint(0, 7, size=50)
data_frame=pd.DataFrame(data)
print(data_frame.value_counts())
help(pd.DataFrame.value_counts)

4    9
3    8
5    8
6    8
0    7
1    5
2    5
dtype: int64
Help on function value_counts in module pandas.core.frame:

value_counts(self, subset: 'Sequence[Hashable] | None' = None, normalize: 'bool' = False, sort: 'bool' = True, ascending: 'bool' = False, dropna: 'bool' = True) -> 'Series'
    Return a Series containing counts of unique rows in the DataFrame.

    .. versionadded:: 1.1.0

    Parameters
    ----------
    subset : list-like, optional
        Columns to use when counting unique combinations.
    normalize : bool, default False
        Return proportions rather than frequencies.
    sort : bool, default True
        Sort by frequencies.
    ascending : bool, default False
        Sort in ascending order.
    dropna : bool, default True
        Don’t include counts of rows that contain NA values.

        .. versionadded:: 1.3.0

    Returns
    -------
    Series

    See Also
    --------
    Series.value_counts: Equivalent method on Series.

    Notes
    -----
    The returned Series will have a MultiIndex with one level per input
    column. By default, rows that contain any NA values are omitted from
    the result. By default, the resulting Series will be in descending
    order so that the first element is the most frequently-occurring row.

    Examples
    --------
    >>> df = pd.DataFrame({'num_legs': [2, 4, 4, 6],
    ...                    'num_wings': [2, 0, 0, 0]},
    ...                   index=['falcon', 'dog', 'cat', 'ant'])
    >>> df
            num_legs  num_wings
    falcon         2          2
    dog            4          0
    cat            4          0
    ant            6          0

    >>> df.value_counts()
    num_legs  num_wings
    4         0            2
    2         2            1
    6         0            1
    dtype: int64

    >>> df.value_counts(sort=False)
    num_legs  num_wings
    2         2            1
    4         0            2
    6         0            1
    dtype: int64

    >>> df.value_counts(ascending=True)
    num_legs  num_wings
    2         2            1
    6         0            1
    4         0            2
    dtype: int64

    >>> df.value_counts(normalize=True)
    num_legs  num_wings
    4         0            0.50
    2         2            0.25
    6         0            0.25
    dtype: float64

    With `dropna` set to `False` we can also count rows with NA values.

    >>> df = pd.DataFrame({'first_name': ['John', 'Anne', 'John', 'Beth'],
    ...                    'middle_name': ['Smith', pd.NA, pd.NA, 'Louise']})
    >>> df
      first_name middle_name
    0       John       Smith
    1       Anne        <NA>
    2       John        <NA>
    3       Beth      Louise

    >>> df.value_counts()
    first_name  middle_name
    Beth        Louise         1
    John        Smith          1
    dtype: int64

    >>> df.value_counts(dropna=False)
    first_name  middle_name
    Anne        NaN            1
    Beth        Louise         1
    John        Smith          1
                NaN            1
    dtype: int64

In [ ]:
import pandas as pd
import numpy as np

# Create a DataFrame with some sample data
data = pd.DataFrame({'values': np.random.randint(1, 100, 20)})  # Random integers between 1 and 100

# Using cut to divide the data into 5 bins of equal width
data['bins_cut'] = pd.cut(data['values'], bins=5)

# Using qcut to divide the data into 5 bins of equal frequency
data['bins_qcut'] = pd.qcut(data['values'], q=5)

# Print the original data along with the bins created by cut and qcut
print("Original Data:")
print(data[['values']])
print("\nBins created by cut:")
print(data[['values', 'bins_cut']])
print("\nBins created by qcut:")
print(data[['values', 'bins_qcut']])