In [1]:
import pandas as pd
# List of lists representing tabular data
data_list = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
]

# Extract column labels (first row of the list)
columns = data_list[0]
print("The columns are", columns)

# Extract data rows (remaining rows of the list)
rows = data_list[1:]
print("The rows are", rows)

# Convert to dictionary
data_dict = {column: [row[i] for row in rows] for i, column in enumerate(columns)}

print(data_dict)
print(pd.DataFrame(data_dict, columns=["Alice", 25, "New York","Nepal"]))

The columns are ['Alice', 25, 'New York']
The rows are [['Bob', 30, 'Los Angeles'], ['Charlie', 35, 'Chicago']]
{'Alice': ['Bob', 'Charlie'], 25: [30, 35], 'New York': ['Los Angeles', 'Chicago']}
     Alice  25     New York Nepal
0      Bob  30  Los Angeles   NaN
1  Charlie  35      Chicago   NaN

In [2]:
 d = {
        "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
        "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
    }
   
 df = pd.DataFrame(d)

 print(df)
 pd.DataFrame(d, index=["d", "b", "a"])

 df2=pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "one"])
 print(df2)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
   two  one
d  4.0  NaN
b  2.0  2.0
a  1.0  1.0

In [3]:
import numpy as np
structured_arry=np.array([(7,"Suman"),(10,"Karan")],dtype=[("ID",int),("Name","U10")])
data_frame=pd.DataFrame(structured_arry,columns=["ID","Address"])
print(data_frame)

   ID Address
0   7     NaN
1  10     NaN

In [4]:
data = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]
list_of_dict_df=pd.DataFrame(data)
print(list_of_dict_df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [5]:
d["three"]=list(range(8,12))
print(pd.DataFrame(d))

   one  two  three
a  1.0  1.0      8
b  2.0  2.0      9
c  3.0  3.0     10
d  NaN  4.0     11

In [6]:
d["Four"]=d["one"]+(d["three"]//d["two"])
df=pd.DataFrame(d)
print(df)

   one  two  three  Four
a  1.0  1.0      8   9.0
b  2.0  2.0      9   6.0
c  3.0  3.0     10   6.0
d  NaN  4.0     11   NaN

In [9]:
greater_than_nine=[value for value in df["three"] if value>9]
print(greater_than_nine)

[10, 11]

In [23]:
df.iloc[[0,1],df.columns.get_indexer(["one","two"])]=[13,14]
#df.loc[['b','c'],["one","two"]]=[3,4]
print(df)

    one   two  three  Four
a  13.0  14.0      8   9.0
b  13.0  14.0      9   6.0
c   3.0   4.0     10   6.0
d   NaN   4.0     11   NaN

In [12]:
print(df)

   one  two  three  Four
a  1.0  1.0      8   9.0
b  2.0  2.0      9   6.0
c  3.0  3.0     10   6.0
d  NaN  4.0     11   NaN

In [32]:

print(list(range(20,24)))
df["series"]=pd.Series(list(range(20,24)), index=df.index)
print(df)

[20, 21, 22, 23]
    one   two  three  Four  series
a  13.0  14.0      8   9.0      20
b  13.0  14.0      9   6.0      21
c   3.0   4.0     10   6.0      22
d   NaN   4.0     11   NaN      23

In [33]:
data = {
    'Math': [85, 90, 88],
    'Science': [92, 89, 91],
    'English': [78, 85, 80]
}
index=["Karan","Suman","Niraj"]
result_df=pd.DataFrame(data, index=index)
print(result_df)

       Math  Science  English
Karan    85       92       78
Suman    90       89       85
Niraj    88       91       80

In [64]:
boolean=result_df.loc[:,["Math","Science"]]>80
print(boolean)
K_science=result_df[boolean]
print(K_science)
print(type(K_science))

       Math  Science
Karan  True     True
Suman  True     True
Niraj  True     True
       Math  Science  English
Karan    85       92      NaN
Suman    90       89      NaN
Niraj    88       91      NaN
<class 'pandas.core.frame.DataFrame'>

In [57]:
dataFrame=result_df[K_science]
print(dataFrame)

       Math  Science  English
Karan   NaN     92.0      NaN
Suman   NaN      NaN      NaN
Niraj   NaN     91.0      NaN

In [67]:
import pandas as pd

# Creating a DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [6, 7, 8, 9, 10],
}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e'])

# Example 1: Filtering Rows using a boolean mask
mask = pd.Series([False, False, True, True, False], index=['a', 'b', 'c', 'd', 'e'])
filtered_rows = df[mask]
print("Filtered Rows:")
print(filtered_rows)

# Example 2: Selecting Specific Rows using a Series of index labels
selected_rows = df.loc[['a', 'c', 'e']]
print("\nSelected Rows:")
print(selected_rows)

# Example 3: Performing Operation on DataFrame using a Series
addition_series = pd.Series(mask, index=['a', 'b', 'c', 'd', 'e'])
result = df[addition_series] 
print("\nResult of Adding Series to DataFrame:")
print(result)

Filtered Rows:
   A  B
c  3  8
d  4  9

Selected Rows:
   A   B
a  1   6
c  3   8
e  5  10

Result of Adding Series to DataFrame:
   A  B
c  3  8
d  4  9

In [73]:
df2=pd.Series([11,12,13,14] ,index=['a', 'b', 'c', 'd'])

In [74]:
print(df2)

a    11
b    12
c    13
d    14
dtype: int64

In [75]:
df["series"]=df2
print(df)

   A   B  series
a  1   6    11.0
b  2   7    12.0
c  3   8    13.0
d  4   9    14.0
e  5  10     NaN

In [79]:
import pandas as pd

# Creating a DataFrame
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
}
df = pd.DataFrame(data)

# Creating a Series with different index
series = pd.Series([10, 20, 30], index=['A', 'B','c'])

# Adding the Series to the DataFrame
result = df + series

print("Resulting DataFrame:")
print(result)

Resulting DataFrame:
    A   B   c
0  11  24 NaN
1  12  25 NaN
2  13  26 NaN

In [88]:
df1 = pd.DataFrame({"a": [1, 20, 1], "b": [0, 1, 1]}, dtype=bool)

df2 = pd.DataFrame({"a": [0, 31, 1], "b": [1, 1, 0]}, dtype=bool)

df3=df1 & df2
print(df3)

       a      b
0  False  False
1   True   True
2   True  False

In [90]:
print("before tanspose", df3.shape)
print(df3.T)
print("\n after transopose", df3.T.shape)

before tanspose (3, 2)
       0     1      2
a  False  True   True
b  False  True  False

 after transopose (2, 3)

In [93]:
np.add(df1['a'],df1['a'])

0    True
1    True
2    True
Name: a, dtype: bool

In [110]:

pd.set_option("display.width", 80)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      bool
 1   b       3 non-null      bool
dtypes: bool(2)
memory usage: 138.0 bytes

In [99]:
print(getattr(np,"add"))

<ufunc 'add'>

In [103]:
pandas.insert?

Object `pandas.insert` not found.